@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Name:</strong> Austen Brown<br />
    <strong>Email:</strong> <a href="mailto:909522@swansea.ac.uk">909522@swansea.ac.uk</a><br />
</address>
